
html{
    scroll-behavior: smooth;
}
/**************************************************************************************************************************************************************************** BODY **********************************************************************************************************************************************************/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    background-color:rgb(240, 248, 255);
}

a{
    transition: all .3s ease-in-out;
}

a:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out  ;
}

li{
    
    transition: all .3s ease-in-out;
}
li:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out;
    transform: scale(.8);
}
img{
    transition: all .4s ease-in-out; 
}
img:hover{
    transition: all  .4s ease-in-out;
    transform: scale(.9);
}

/************************************************************************************************************************************************************************************ HEADER   ************************************************************************************************************************************************************/

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    margin-left: 20px;
    display: flex;
}

.nav{
    display: flex;
    margin: auto;
    justify-content:space-between;
    padding: 10PX;
    text-decoration: none;
    font-size: 25px;
    width: 95%;


}

ul{
    display: flex;
    gap: 15px;
    margin-right: 20px;
    list-style-type: none;
    text-transform: capitalize;
    align-items: center;
    
}

a{
    color:black;
    text-decoration: none;
}


/***************************************************************************************************************************************************************************************************** MAIN ************************************************************************************************************************************************************/
main{

    padding: 20px;
    margin: 4%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.section1{

    width: 80%;
    margin: auto;
    padding: 2%;
}

article{
    width: 65%;
    margin: auto;
}

/* .section2{

    /* height: 250px; */

.article2{

    display: flex;
    flex: 1 1 auto;
}

.google{
    width: 70%;
    height: 50%;
    border-radius: 10px;
    
    
}

/* div>a{
    margin-left: 30px;
} */

/* .ubi-principal{
    display: flex;
    width: 100%;
    height:60%;

} */

/* .ubi-principal>div{
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */


h3{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
}
h2{
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
}




/****************************************************************************************************************footer***********************************************************************************************************************************************************************************************************/

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 127, 179);
    margin-top: 40px;
    margin: auto;
    justify-content: center;
}
.piediv{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    background-color: transparent;
    justify-content: center;
    padding: 3%;
    gap: 5%;
    
}


.red-social{

    width:100%;
    height: 100%;
}
.enlacess{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    width: 10%;
    height: 10%;
}



.enlaces-pie{
    display:flex;
    margin: auto;
    justify-content: center;
    align-self: center;
    text-decoration: underline;
    gap: 5%;
    padding: 2%;
    margin-top: -4%;
    color: #ffffff;
}

.poli-aviso{

    color: #ffffff;

}






















