
html{
    scroll-behavior: smooth;
}
/**************************************************************************************************************************************************************************** BODY **********************************************************************************************************************************************************/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    background-color: rgb(240, 248, 255);
    background-image: url(../img/persona.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
    
}
a{
    transition: all .3s ease-in-out;
}

a:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out  ;
}

li{
    
    transition: all .3s ease-in-out;
}
li:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out;
    transform: scale(.8);
}
img{
    transition: all .4s ease-in-out; 
}
img:hover{
    transition: all  .4s ease-in-out;
    transform: scale(.9);
}

/************************************************************************************************************************************************************************************ HEADER   ************************************************************************************************************************************************************/

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    margin-left: 20px;
    display: flex;
}

.nav{
    display: flex;
    margin: auto;
    justify-content:space-between;
    padding: 10PX;
    text-decoration: none;
    font-size: 25px;
    width: 95%;


}

ul{
    display: flex;
    gap: 15px;
    margin-right: 20px;
    list-style-type: none;
    text-transform: capitalize;
    align-items: center;
    
}
a{
    color:black;
    text-decoration: none;
}

/***************************************************************************************************************************************************************************************************** MAIN ************************************************************************************************************************************************************/

main{

    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.div-form{

    width: 55%;
    height: 90%;
    background-color: aquamarine;
    margin:3%;
    margin-top: 6%;
    margin-bottom: 6%;
    border-radius: 19px;
    background-image: url(https://linares28.b-cdn.net/2023/04/7327.jpg);
}
    


.form{

    width: 100%;
    height: 100%;
    margin: auto;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 5% 0;
    
}
.name{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin: auto;
}
label{
    color: #ffffff;
}

input{
    border-radius: 10px;
    padding: 5px;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;

}
.name-enviar{
    width: 100%;
    justify-content: center;
    margin: auto;
    display: inline-flex;
    padding-top: 5%;

    
}
.enviar{
    padding: 2%;
    font-family: inherit;
    font-size: 1.3rem;
    width: 15%;
    border-radius: 10px;

}
.enviar:hover{
    transform: scale(104);
}

.check-label{
    margin: auto;
    margin-left: 38%;
    color: #ffffff;
}
.div-check{
    padding-top: 2%;
}

.check-enlace{
    color: #ffffff;
}

span{
    color: rgb(134, 167, 184);
}
h3{
    background-color: rgb(240, 248, 255);
    
    display: flex;
    padding-top: 30px;
    margin: auto;
    text-transform:uppercase;
    justify-content: center;
    font-size: 25px;
    width: 100%;
    
}


/************************************************************************************************************************************************************FOOOTER*********************************************************************************************************************************************************************/

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 127, 179);
    margin-top: 40px;
    margin: auto;
    justify-content: center;
}
.piediv{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    background-color: transparent;
    justify-content: center;
    padding: 3%;
    gap: 5%;
    
}


.red-social{

    width:100%;
    height: 100%;
}
.enlacess{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    width: 10%;
    height: 10%;
}



.enlaces-pie{
    display:flex;
    margin: auto;
    justify-content: center;
    align-self: center;
    text-decoration: underline;
    gap: 5%;
    padding: 2%;
    margin-top: -4%;
    color: #ffffff;
}

.poli-aviso{

    color: #ffffff;

}