html{
    scroll-behavior: smooth;
}
/**************************************************************************************************************************************************************************** BODY **********************************************************************************************************************************************************/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 18px;
    background-color:rgb(240, 248, 255);
}

a{
    transition: all .3s ease-in-out;
}

a:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out;

}

li{
    
    transition: all .3s ease-in-out;
}
li:hover{
    color: rgb(51, 172, 224);
    transition: all  .3s ease-in-out;
    transform: scale(.8);
}

img{
    transition: all .4s ease-in-out; 
}
img:hover{
    transition: all  .4s ease-in-out;
    transform: scale(.9);
}

/************************************************************************************************************************************************************************************ HEADER   ************************************************************************************************************************************************************/

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}
.logo{
    margin-left: 20px;
    display: flex;
}

.nav{
    display: flex;
    margin: auto;
    justify-content:space-between;
    padding: 10PX;
    text-decoration: none;
    font-size: 25px;
    width: 95%;


}

ul{
    display: flex;
    gap: 15px;
    margin-right: 20px;
    list-style-type: none;
    text-transform: capitalize;
    align-items: center;
    
}
a{
    color:black;
    text-decoration: none;
}

/*******************************************************************************************************************************************************************************************MAIN   *****************************************************************************************************************************************************************/
main{
    
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
span{
    color: rgb(134, 167, 184);
}
.h2{
    display: flex;
    justify-content: center;
}
h2{
    text-transform: uppercase;
}
.display{
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    gap: 10px;
    width: 80%;
    padding: 4%;
}

.disponible{
    width: 320px;
    height: 210px;
    background-color: rgb(225, 231, 229);
    border-radius: 20px;
}
.marcas{
    background-color:rgb(255, 255, 255);
}
.clientes{
    display: flex;
    justify-content:space-between;
    padding: 40px;
}
.persona{
    width: 40%;
    height: 30%;

}

.section{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 30%;
    border-radius: 4%;
    box-shadow: 0 0 3px 2px rgb(182, 179, 179);
}
article{
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 5%;
}
.p{
    margin-left: 10%;
    padding: 4%;
}



/******************************************************************************************************************************************************************************************************************************* FOOTER **********************************************************************************************************************************/

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(93, 127, 179);
    margin-top: 40px;
    margin: auto;
    justify-content: center;
}
.piediv{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    background-color: transparent;
    justify-content: center;
    padding: 3%;
    gap: 5%;
    
}


.red-social{

    width:100%;
    height: 100%;
}
.enlacess{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    width: 10%;
    height: 10%;
}


.enlaces-pie{
    display:flex;
    margin: auto;
    justify-content: center;
    align-self: center;
    text-decoration: underline;
    gap: 5%;
    padding: 2%;
    margin-top: -4%;
    color: #ffffff;
}

.poli-aviso{

    color: #ffffff;

}


