<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alquilar car</title>
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="shortcut icon" href="../img/favicon-png.webp" type="image/x-icon">
</head>
<body>


<!-- ___________________________HEADER_____________________________ -->

    <header>
        <nav class="nav">
            <img src="../img/logo.webp" alt="logo" title="logo de la empresa" width="90" height="90" class="logo">
            
            <ul>
                <li><a href="../index.html" >inicio</a></li>
                <li><a href="./producto.html">producto</a></li>
                <li><a  href="./presupuesto.html">presupuesto</a></li>
                <li><a href="#" style="color:rgb(160, 160, 160);">contacto</a></li>
            </ul>
        </nav>
        
    </header>

<!-- _________________________MAIN___________________________________ -->

    <main>

        <section class="section2">

            <h3>NUESTRAS UBICACIONES</h3>
            
            <article class="article2">

                <div class="foto-ubi">
                    <h4>Madrid</h4>
                    <a href="https://maps.app.goo.gl/kh6eUoZxAzQQN8Ne8"><img src="../img/googlemaps227018.jpg" alt="ubicacion" title="rejas, san-blas canillejas" width="950" height="475" class="google ubi-principal"></a><br>
                    <span> Rejas, San-Blas Canillejas</span>
                </div>

                <div class="foto-ubi">
                    <h4>Barcelona</h4>
                    <a href="https://maps.app.goo.gl/p8xFeGtR3VWiK3UJA"><img src="../img/googlemaps227018.jpg" alt="ubicacion" title="bajo llobregat, Barcelona" class="google" width="950" height="475"></a><br>
                    <span>Bajo llobregat,Barcelona</span>
                </div>

                <div class="foto-ubi">
                    <h4>sevilla</h4>
                    <a href="https://maps.app.goo.gl/GNmJUXpyQCyPfHXe8"><img src="../img/googlemaps227018.jpg" alt="ubicacion" title="borbujos, sevilla" class="google" width="950" height="475"></a><br>
                    <span>Borbujos, Sevilla</span>
                </div>

            </article>
        </section>

        <section class="section1">
            <h2>DETALLES DE NUESTRA EMPRESA</h2>
            <article>

                    <P><b>alquila car</b>: La Experiencia de Conducir un Auto Deportivo de Lujo </P>

                    <p>Desde su fundación, <b>alquila car</b> se ha especializado en el alquiler de autos deportivos de lujo, ofreciendo a sus clientes la oportunidad de vivir una experiencia única con vehículos de marcas como Ferrari, Lamborghini y Porsche.</p>
                    
                    <h4>Experiencia Exclusiva</h4>
                    <p>La empresa ofrece una flota de autos de alto rendimiento para eventos especiales o simplemente para disfrutar de la velocidad y el lujo.</p>
                    
                    <h4>Clientes Felices</h4>
                    <p>Los clientes destacan la calidad del servicio y la atención personalizada. "Una experiencia increíble, con un coche impecable", afirma Carlos Martínez, cliente frecuente.
                    </p>
                    
                    <h4>Compromiso con la Calidad</h4>
                    <p>Cada vehículo pasa por rigurosos mantenimientos y ofrece asistencia en carretera 24/7 para garantizar una experiencia segura.</p>
                    
                    <h4>Conclusión</h4>
                    <p>Si buscas vivir la emoción de conducir un auto deportivo de lujo, <b>alquila car</b> es la opción perfecta. ¡Haz de tu próximo viaje una experiencia inolvidable!</p>
                

            </article>
        </section>

        


    </main>


<!-- __________________________FOOTER_____________________________ -->


    <footer class="pie">

<!-- _________________________REDES SOCIALES_______________________ -->


        <div class="piediv">
            <a target="_blank" class="enlacess" href="https://x.com/"><img class=" red-social" src="../img/redes/88b39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: twiter"></a>
            <a target="_blank" class="enlacess" href="https://www.facebook.com/?locale=es_ES"><img class=" red-social" src="../img/redes/face39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: facebook"></a>
            <a target="_blank" class="enlacess" href="https://www.instagram.com/"><img class=" red-social" src="../img/redes/ins39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: instagram"></a>
            <a target="_blank" class="enlacess" href="https://www.whatsapp.com/?lang=es_LA"><img class=" red-social" src="../img/redes/wattzip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: watssap"></a>
            <a target="_blank" class="enlacess" href="https://www.youtube.com/"><img class=" red-social" src="../img/redes/yout39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: youtube"></a>
            
        </div>

<!-- ___________________________ ENLACES PIE__________________ -->

        <div class="enlaces-pie">
            <a target="_blank" class="poli-aviso" href="https://www.emedemiguelbistrogourmet.com/cookies/avisolegal.pdf">avisos legales</a>
            <a target="_blank" class="poli-aviso" href="https://maps.app.goo.gl/kh6eUoZxAzQQN8Ne8">dirección principal</a>
        </div>
            

    </footer>


    
</body>