<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alquilar car</title>
    <link rel="stylesheet" href="../css/producto.css">
    <link rel="shortcut icon" href="../img/favicon-png.webp" type="image/x-icon">
</head>
<body>


<!-- ________________________HEADER______________________________ -->

    <header>
        <nav class="nav">
            <img src="../img/logo.webp" alt="logo" title="logo de la empresa" width="90" height="90" class="logo">
            
            <ul>
                <li><a href="../index.html">inicio</a></li>
                <li><a href="#" style="color:rgb(160, 160, 160);">producto</a></li>
                <li><a href="../views/presupuesto.html">presupuesto</a></li>
                <li><a href="../views/contacto.html">contacto</a></li>
            </ul>
        </nav>
        
    </header>


<!-- ____________________MAIN________________________________________ -->

    <main>
        <div>
            <div class="h2">
                <h2> coches <span>disponibles</span></h2>
            </div>

<!-- _____________________GALERIA DE COCHES__________________________ -->


            <div class="display">
                <div> <img src="../img/llll1968-chevrolet-camaro-ss-convertible.jpg" alt="coche disponible" class="disponible" width="1920" height="1280"></div>
                <div> <img src="../img/llllCHEVROLET-Camaro-Convertible-4947_36.jpg" alt="coche disponible" class="disponible" width="1920" height="1280"></div>
                <div> <img src="../img/llllla01c23093e6b8488e5bbe54a64a1291b18d8df4e.webp" alt="coche disponible" class="disponible" width="4088" height="2300"></div>
                <div> <img src="../img/llllll1968-chevrolet-camaro-ss-convertible.jpg" alt="coche disponible" class="disponible" width="1920" height="1280"></div>
                <div> <img src="../img/llllll2015_chevrolet_camaro_convertible_ss_fq_oem_9_1280.avif" alt="coche disponible" class="disponible" width="1280" height="855"></div>
                <div> <img src="../img/llllllchevrolet_camaro_ss_convertible_2019_4k-HD.jpg" alt="coche disponible" class="disponible" width="1096" height="2304"></div>
                <div> <img src="../img/llllllLamborghini_Light_Blue_488789.jpg" alt=" coche disponible" class="disponible" width="1280" height="853"></div>
                <div> <img src="../img/llllUsed-2017-Chevrolet-Camaro-SS-Convertible-HPE700-Hennessy-700HP.jpg" alt="coche disponible" class="disponible" width="1920" height="1440"></div>
                <div> <img src="../img/porsche_PNG10622.png" alt=" coche disponible" class="disponible" width="2048" height="1360"></div>
            </div>

            <div class="marcas">
                <div class="clientes">
                    <div class="section">
                        <article><h3>
                            sobre <span> nosotros</span>
                        </h3></article>

                        <p class="p">
                            <b>alquila car</b> es una empresa dedicada al alquiler de coches deportivos de lujo. Fundada en 2010, ha crecido rápidamente y se ha convertido en un referente en el sector. Con una flota de vehículos de alta gama y un servicio al cliente excepcional, <b>alquila car</b> ofrece experiencias únicas a sus clientes. La empresa se compromete a mantener los más altos estándares de calidad y seguridad, asegurando que cada coche esté en perfectas condiciones para su uso. Con una atención al detalle y un enfoque en la satisfacción del cliente, <b>alquila car</b> se esfuerza por superar las expectativas en cada alquiler.
                        </p>
                    </div>

                    <img src="../img/persona.png " alt="empleado" title="empleado" width="1024" height="1024" class="persona">

                    
                </div>
            </div>
        </div>
    </main>





<!-- __________________________FOOTER_____________________________ -->



    <footer class="pie">
        <div class="piediv">

<!-- _____________________-__REDES SOCIALES______________________ -->


            <a target="_blank" class="enlacess" href="https://x.com/"><img class=" red-social" src="../img/redes/88b39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: twiter"></a>
            <a target="_blank" class="enlacess" href="https://www.facebook.com/?locale=es_ES"><img class=" red-social" src="../img/redes/face39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: facebook"></a>
            <a target="_blank" class="enlacess" href="https://www.instagram.com/"><img class=" red-social" src="../img/redes/ins39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: instagram"></a>
            <a target="_blank" class="enlacess" href="https://www.whatsapp.com/?lang=es_LA"><img class=" red-social" src="../img/redes/wattzip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: watssap"></a>
            <a target="_blank" class="enlacess" href="https://www.youtube.com/"><img class=" red-social" src="../img/redes/yout39zip.png" alt=" red social" title="red social" width="300" height="300" aria-label="red social: youtube"></a>
            
            

        </div>


<!-- _________________________ENLACES_____________________________ -->

        <div class="enlaces-pie">
            <a target="_blank" class="poli-aviso" href="https://www.emedemiguelbistrogourmet.com/cookies/avisolegal.pdf">avisos legales</a>
            <a target="_blank" class="poli-aviso" href="https://maps.app.goo.gl/kh6eUoZxAzQQN8Ne8">dirección principal</a>
        </div>
        
    </footer>
</body>